{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} 
  Login 
{% endblock %} 

{% block body_block %}
<div class="w-100 my-auto d-flex flex-column justify-content-center align-items-center">
    <h1> Login</h1>
    <form method="post" class="w-25  d-flex flex-column justify-content-center align-items-center">
        <div class="w-100">
            {{ form|crispy }}
            {% csrf_token %}
        </div>
        <button type="submit" class="btn btn-primary btn-sm mt-4">Login</button>
    </form>
    <br>
    <p>Dont have an account ? <a href="{% url 'App_Login:signup' %}">Sign Up</a></p>
</div>
{% endblock %}